
.vs/Assignment2/v15/

Tests/bin/Debug/netcoreapp3.0/

.vs/Assignment2/v16/

Tests/obj/Debug/netcoreapp3.0/

Grains/obj/Debug/netcoreapp3.0/

Grains/bin/Debug/netcoreapp3.0/

GrainInterfaces/obj/Debug/netcoreapp3.0/

Tests/obj/

Silo/obj/

Grains/obj/

GrainInterfaces/obj/

Tests/bin/

Silo/bin/

GrainInterfaces/bin/

.vs/
